.main-footer, .sub-footer {
	display: block;
	float: left;
	width: 100%;}

.main-footer {
	background: #004B87;
	padding: 70px 0 14px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0 14px 0;	
	}
	a.logo {
		margin-bottom: 20px;
	}
	h2, h3, p, a {
		color: #fff;
	}
	p.copyright {
		font-size: 14px;
		opacity: .8;
	}
	.address p {
		font-size: 18px;
	}
	h3 {
		font-size: 18px;
	}
	h3.resources-header {
		margin-bottom: 24px;
	}
	h3.subscribe-header {
		margin-bottom: 12px;
	}
	.gform_body {
		text-align: center;
	}
	.gform_fields {
		li {
			display: inline-block;
			margin: 0 5px !important;
			width: 189px;
			@media only screen and (max-width: 40.063em) {
				max-width: 45%
			}
			clear: none;
			input[type="text"] {
				border: none;
				background: rgba(255,255,255,.2);
				height: 33px;
				padding: 4px 10px;
				text-transform: uppercase;
				font-size: 12px !important;
				margin-bottom: 10px;
			}
		}
	}
	#gform_submit_button_4 {
		background: $secondary-color;
		color: #fff !important;
		height: 33px;
		width: 189px !important;
		display: inline-block;
		padding: 4px 10px !important;
		text-transform: uppercase;
		font-size: 12px !important;	
		text-align: left;
		&:hover {
			background: $primary-color;
		}
	}
	
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #fff;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: #fff;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: #fff;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: #fff;
	}	
	.gform_footer {
		width: 100% !important;
		text-align: center;
	}
	.address {
		margin-bottom: 100px;
		@media only screen and (max-width: 40.063em) {
			margin-bottom: 24px;	
		}
	}
}

.sub-footer {
	padding: 20px 0;
	background: #083C66;
	p, a {
		font-size: 14px;
		color: #fff;
	}
	.drum a {
		font-size: 12px;
		opacity: .2;
	}
}

#menu-footer-menu {
	margin: 0;
}

.footer-menu {
	li {
		list-style: none;
		display: inline-block;
		margin-bottom: 8px;
		margin: 0 0 0 -4px;
		border-right: solid 1px #fff;
		line-height: 1;
		opacity: .8;
		&:last-child {
			border-right: none;
		}
		a {
			font-size: 14px;
			padding: 0 10px;
			line-height: 1;
		}
	}
}

.footer-icon {
	height: 58px;
	line-height: 58px;
	display: inline-block;
	position: relative;
	margin: 0 24px;
	.footer-svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 58px;
		text-align: center;
		svg {
			max-height: 58px;
			opacity: .2;
		}
	}
	&:hover {
		span {
			opacity: 0;
		}
		svg {
			opacity: 1;
		}
	}
}

.footer-icons {
	margin-bottom: 56px;
	@media only screen and (max-width: 40.063em) {
		margin-bottom: 30px;	
	}
}

#gform_wrapper_4 {
	margin-top: 0;
}