.entry-content > ul, section.section ul {
	> li {
		color: $paragraph-color;
		list-style: none;
		position: relative;
		padding-left: 18px;
		margin-bottom: 7px;
		&:before {
		    content: "";
		    width: 7px;
		    height: 7px;
		    position: absolute;
		    left: 0;
		    top: 7px;
		    background-color: $secondary-color;
		    border-radius: 4px;
		}
	}
}

.entry-content > ol, section.section ol {
	margin-left: 2.5rem;
	counter-reset: item;
	> li {
		display: block;
		margin-bottom: 7px;
		&:before {
			content: counter(item) ". ";
			counter-increment: item;
			display: block;
			position: relative;
			max-width: 0px;
			max-height: 0px;
			left: -1.3em;
			top: .05em;
			color: $secondary-color;
			font-weight: bold;
		}
	}
}