.featured-image {
    & > .row {
	 	padding: 60px 0 60px 0;
	}	
	.featured-image-overlay {
	    h1, h2, h3, h4, p {
		    color: #fff;
			text-shadow: 4px 4px 6px rgba(0,0,0,.2);
    	}
    }
    img {
		width: 100%;
	}
	.blog-header > div {
		padding-top: 123px;
		@media only screen and (max-width: 1000px) {
			padding-top: 99px;
		}
		@media only screen and (max-width: 40.063em) {
			padding-top: 0;	
		}
	}
	svg {
		max-width: 224px;
		@media only screen and (max-width: 1000px) {
			max-width: 150px;
		}
		@media only screen and (max-width: 740px) {
			max-width: 100px;
			max-height: 75px;
		}
		path:not(.stroke):not(.no-fill), polygon:not(.no-fill), stroke, rect:not(.no-fill) {
			fill: #fff;
		}
		polygon.no-fill, path.no-fill, rect.no-fill {
			fill: none;
		}
		path.stroke {
			stroke: #fff;
		}
	}	
}

.has-menu .featured-image .blog-header > div {
	padding-bottom: 107px;
}

.parallax-featured {
	height: 480px;
	.grid-container, .cell {
		height: 100%;
	}
}

.featured-image, .parallax-window {
	background-size: 100% auto !important;
}