.social {
	display: inline-block;
	margin-bottom: 16px;
	a {
		display: inline-block;
		opacity: .3;
		&:hover {
			opacity: 1;
		}
	}
	svg {
		margin: 0 18px;
		height: 24px;
		width: 24px;
		fill: #fff;
		vertical-align: middle;
	}
	a:first-child svg {
		margin-left: 0;
	}	
}