.featured-menu {
	display: block;
	width: 100%;
	position: relative;
	z-index: 2;
	@media only screen and (min-width: 1049px) {
		position: absolute;
	}
	bottom: 0;
	left: 0;
	a {
		display: block;
		float: left;
		@media only screen and (min-width: 1049px) {
			display: inline-block;
			margin-left: -5px;
			float: none;
		}
		width: 210px;
		height: 107px;
		max-width: 20%;
		padding: 10px;
		font-size: 20px;
		color: #6D6E71;
		line-height: 1.2;
		vertical-align: bottom;
		@media only screen and (max-width: 730px) {
			font-size: 16px;
			height: 75px;	
		}
		@media only screen and (max-width: 40.063em) {
			font-size: 14px;
			padding: 5px 10px;
			width: 50%;
			max-width: 50%;
			height: 50px;
			&:last-child {
				width: 100%;
				max-width: 100%;
			}	
		}
		&.careers {
			color: #fff;
		}
		&:hover, &.active {
			color: $primary-color;
		}
		&.active {
			pointer-events: none;
		}
	}
}

.about-menu {
	a {
		&:nth-child(1) {
			background: #F0E9CE;
		}
		&:nth-child(2) {
			background: #D7DACC;
		}
		&:nth-child(3) {
			background: #E0DFB1;
		}
		&:nth-child(4) {
			background: #EFEEE3;
		}
		&:nth-child(5) {
			background: #A7A9AB;
		}		
	}
}

section.about-header {
	padding: 80px 0 47px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0 7px 0;	
	}
	h2 {
		font-size: 48px;
		margin: 0;
		@media only screen and (max-width: 40.063em) {
			font-size: 28px;	
		}
	}	
}

body.our-approach main#content {
	overflow: hidden;
}

section.approach-header {
	background: #F0E9CE;
}

section.community-header {
	background: #EFEEE3;
}

section.careers-header {
	background: #A7A9AB;
	h2 {
		color: #fff !important;
	}
}

.featured-image-container {
	display: block;
	float: left;
	width: 100%;
	max-height: 700px;
	position: relative;
	overflow: hidden;
}

.ppt-tabs {
	display: block;
	float: left;
	width: 100%;
}

.ppt-tabs section {
	display: block;
	float: left;
	width: 100%;
	padding: 133px 0 60px;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	@media only screen and (max-width: 40.063em) {
		padding: 73px 0 20px 0;
	}
	background-size: cover;
	background-position: center center;
	h2 {
		font-family: 'open_sansbold';
		text-transform: uppercase;
		margin-bottom: 20px;
		font-size: 28px;
	}
	p {
		font-size: 18px;
	}
	&.active {
		opacity: 1;
		position: relative;
	}
}

.tab-indicator-wrap {
	display: none;
	position: absolute;
	bottom: -87px;
	@media only screen and (max-width: 40.063em) {
		bottom: -43px;	
	}
	left: 0;
	width: 100%;
	text-align: center;
}

.tab-indicator {
	display: inline-block;
	position: relative;
	width: 65px;
	height: 33px;
	background-image: url(../images/ppt-indicator.png);
	&:before {
		content: "";
		height: 33px;
		display: block;
		position: absolute;
		left: -999999px;
		background: #efeacd;
		width: 999999px;
	}
	&:after {
		content: "";
		height: 33px;
		display: block;
		position: absolute;
		left: 100%;
		background: #efeacd;
		width: 999999px;
	}	
}

section.people {
	background-image: url(../images/people-bg.jpg);
}

section.process {
	background-image: url(../images/process-bg.jpg);
}

section.tech {
	background-image: url(../images/tech-bg.jpg);
}

.ppt-tab-choice {
	cursor: pointer;
	position: relative;
}

.ppt-tab-choice.active {
	font-family: 'open_sansbold';
	.tab-indicator-wrap {
		display: block;
	}
}

section.mission-values {
	padding: 100px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0;	
	}
	background-image: radial-gradient(50% 116%, #FFFFFF 50%, #F3EDD4 100%);
	.mission-graphic-container {
		display: block;
		margin: 0 auto;
		@media only screen and (max-width: 40.063em) {
			margin: 40px auto;	
		}
		max-width: 327px;
		width: 100%;
		position: relative;
		img {
			transform: scale(1.35);
		}
		.mission-graphic {
			display: block;
			float: left;
			width: 100%;
		}
		.mission-graphic-people {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
		}
	}
	.mission, .core-values {
		@media only screen and (min-width: 1000px) {
			padding-top: 80px;	
		}
	}
	.mission {
		padding-right: 10px;
	}
	.core-values {
		@media only screen and (max-width: 40.063em) {
			margin-top: 30px;	
		}
	}
	.mission p {
		font-size: 20px;
	}
	.core-values p {
		font-size: 24px;
		text-transform: uppercase;
		line-height: 1.65;
	}
	h2 {
		font-family: 'open_sansbold';
		font-size: 40px;
		margin-bottom: 16px;
	}
}

body.our-approach main#content, body.history main#content, body.executive-team main#content, body.community-engagement main#content, body.careers main#content {
	p, h2, h3 {
		color: #6D6E71;
	}
}

section.partnerships {
	background: #fcfbf5;
	padding: 100px 0 60px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0;	
	}
	h2 {
		font-size: 48px;
	}
	h3 {
		font-family: 'open_sansbold';
		font-size: 20px;
	}
	p {
		font-size: 18px;
	}
}

section.history-header {
	background: #D7DACC;
}

section.team-header {
	background: #E0DFB1;
}

section.timeline-section {
	padding: 100px 0 30px 0;
	position: relative;
	z-index: 9 !important;
	h2 {
		font-size: 64px;
		color: #D7DACC !important;
		font-family: 'open_sansbold';
		margin-bottom: 30px;
	}
	.timeline-container {
		display: block;
		float: left;
		width: 100%;
		height: 380px;
		padding: 112px 0;
		overflow: hidden;
		.timeline-slider {
			display: block;
			position: relative;
			width: 99999999px;
			left: calc(50% - 78px);
			overflow-x: visible;
			white-space: nowrap;
			.year-container {
				margin-right: 148px;
				position: relative;
				display: block;
				float: left;
				width: 156px;
				height: 156px;
				text-align: center;
				border-radius: 78px;
				font-size: 36px;
				font-family: 'open_sansbold';
				color: #fff;
				line-height: 141px;
				border: solid 8px #D7DACC;
				&:nth-child(5n+1), &:nth-child(5n+1) .year-modal, &:nth-child(5n+1) .close-button {
					background: #90cdf0;
				}
				&:nth-child(5n+2), &:nth-child(5n+2) .year-modal, &:nth-child(5n+2) .close-button {
					background: #e8cd5f;
				}
				&:nth-child(5n+3), &:nth-child(5n+3) .year-modal, &:nth-child(5n+3) .close-button {
					background: #dd634b;
				}								
				&:nth-child(5n+4), &:nth-child(5n+4) .year-modal, &:nth-child(5n+4) .close-button {
					background: #a3cf62;
				}

				&:after {
					content: '';
					display: block;
					width: 156px;
					height: 8px;
					position: absolute;
					top: 50%;
					left: 100%;
					margin-top: -4px;
					background: #D7DACC;
				}
				&:last-child:after {
					width: 99999999px;
				}
				.modal-photo-container {
					display: block;
					position: relative;
					direction: block;
					float: right;
					max-width: 66%;
					margin: -30px -30px 0 20px;
					@media only screen and (max-width: 40.063em) {
						width: calc(100% + 60px);
						max-width: calc(100% + 60px);
						margin: -30px -30px 20px -30px;
					}
					img {
						display: block;
						float: left;
					}
				}
				.close-button {
					position: absolute;
					left: -16px;
					top: 17px;
					width: 32px;
					height: 32px;
					border-radius: 16px;
					line-height: 30px;
					text-align: center;
					font-family: "open_sansregular";
					color: #fff;
				}				
				.year-modal {
					text-align: left;
					display: none;
					position: relative;
					h3, p {
						color: #fff !important;
					}
					h3 {
						font-family: 'open_sansbold';
						@media only screen and (max-width: 40.063em) {
							clear: both;	
						}
					}
					p {
						font-family: "open_sansregular";
						font-size: 16px;
						white-space: normal;
						margin-bottom: 20px;
					}
					position: fixed;
					z-index: 9999999;
					top: 200px;
					@media only screen and (max-width: 40.063em) {
						top: 100px;	
					}
					left: 5%;
					width: 90%;
					padding: 30px 30px 0 30px;
					@media only screen and (max-width: 40.063em) {
						padding-bottom: 10px;
					}
				}
			}
		}	
	}
	.tl-nav-container {
		display: block;
		float: left;
		width: 100%;
		color: #6D6E71;
		svg {
			width: 17px;
			height: 30px;
			pointer-events: none;
		}
		.tl-nav {
			display: inline-block;
			vertical-align: middle;
			margin: 0 12px;
		}
		.tl-nav.active {
			cursor: pointer;
		}
		.tl-nav:not(.active) {
			opacity: .3;
		} 
	}
}

section.team {
	background: #f9f9ef;
	position: relative;
	z-index: 10 !important;
	padding: 140px 0 100px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0;	
	}
	.team-member-cell {
		@media only screen and (max-width: 40.063em) {
			padding: 0 15px;	
		}
	}
	.team-member {
		cursor: pointer;
		margin-bottom: 40px;
		h3 {
			font-family: 'open_sansbold';
			color: #004B87 !important;
			margin-bottom: 2px;
		}
		p.team-title {
			font-size: 14px;
			text-transform: uppercase;
			max-width: 245px;
		}
		.small-team-photo {
			margin-bottom: 16px;
			img {
				transition: all .5s;
				-webkit-transition: all .5s; /* Safari and Chrome */
				-ms-transition: all .5s; /* Opera */
			}
			&.gray img:not(:hover) {
				opacity: .8;
				-webkit-filter: grayscale(100%);
				filter: grayscale(100%);
				filter: gray;
				// filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='https://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
			}
		}
		.team-overlay {
			position: fixed;
			opacity: 0;
			top: 10vh;
			left: 5vw;
			@media only screen and (max-width: 40.063em) {
				left: 2vw;	
			}
			width: 0;
			height: 0;
			overflow: hidden;
			.team-overlay-inner {
				padding: 30px;
				background: #E0DFB1;
				@media only screen and (min-width: 40.063em) {
					img {
						float: left;
						margin-right: 40px;
						margin-bottom: 30px;
					}
				}
				h3 {
					margin-top: 80px;
					font-size: 42px;
					@media only screen and (max-width: 40.063em) {
						margin-top: 20px;
						font-size: 28px;	
					}
				}
				p.team-title {
					font-size: 18px;
					max-width: none;
					@media only screen and (max-width: 40.063em) {
						font-size: 14px;
					}
				}
				.bio {
					display: block;
					float: left;
					width: 100%;
				}
			}
		}
		&.active .team-overlay {
			opacity: 1;
			width: 90vw;
			@media only screen and (max-width: 40.063em) {
				width: 96vw;	
			}
			height: auto;
			z-index: 9999999;
			.team-overlay-inner {
				display: block;
				max-height: 85vh;
				overflow: scroll;
			}
		}
	}
}

section.community-intro {
	padding: 120px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0;	
	}
	background: #fcfcf9;
	p, a {
		font-size: 20px;
	}
	a {
		font-family: 'open_sansbold';
		color: #6D6E71;
		&:hover {
			color: $primary-color;
		}
	}
	.community-links {
		margin-top: 30px;
		a {
			margin: 0 20px;
			white-space: nowrap;
		}
	}
}



.single-chart {
	display: inline-block;
  width: 24%;
  min-width: 185px;
  margin-bottom: 80px;
  @media only screen and (max-width: 1000px) {
		margin-bottom: 20px;  
  }
  @media only screen and (max-width: 40.063em) {
	margin-bottom: 5px;
  }
  justify-content: space-around ;
  position: relative;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 170px;
  max-height: 170px;
  overflow: visible !important;
}

.circle-bg {
  fill: none;
  stroke: #E5E5E5;
  stroke-width: 6;
}

.circle {
  fill: none;
  stroke-width: 6;
}

.circle.in-view {
  animation: progress 1s ease-out forwards;	
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.blue .circle.in-view {
  stroke: #009ADE;
}

.chart-text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0 65px;
	@media only screen and (max-width: 1000px) {
		padding: 0 50px;	
	}
	font-size: 14px;
	color: #009CDE;
	line-height: 16px;
	span {
		font-family: 'open_sansbold';
	}
	span.stat-percentage {
		font-size: 24px;
	}
	span.percent-symbol {
		font-size: 18px;
	}
	.boomers {
		display: inline-block;
		margin-top: 8px;
	}
}

.life-charts {
	display: block;
	float: left;
	width: 100%;
	margin: 50px 0 0 0;
	@media only screen and (max-width: 40.063em) {
		margin: 30px 0 0 0;	
	}
}

section.careers-intro {
	padding: 120px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0;	
	}
	background: #edeeee;
	p {
		font-size: 18px;
		line-height: 1.6;
	}
}

.owl-carousel {
	margin-top: 50px;
}

.owl-nav {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -27px !important;
	@media only screen and (max-width: 40.063em) {
		display: none;	
	}
}

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	display: block;
	background-size: 31px 55px !important;
	width: 31px;
	height: 55px;
	text-indent: -9999px;
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari and Chrome */
	-ms-transition: all .5s; /* Opera */
}

.owl-theme .owl-nav .owl-prev {
	left: -55px;
	background: url(../images/left-chevron.svg) left top no-repeat !important;
	@media only screen and (max-width: 40.063em) {
		left: -20px;	
	}
}

.owl-theme .owl-nav .owl-next {
	left: calc(100% + 17px);
	margin-left: 15px;
	background: url(../images/right-chevron.svg) left top no-repeat !important;
	@media only screen and (max-width: 40.063em) {
		margin-left: -30px;	
	}
}

section.benefits {
	padding: 140px 0 80px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0;	
	}
	background: url(../images/benefits-bg.jpg) center center no-repeat !important;
	h2 {
		font-size: 36px;
		margin-bottom: 12px;	
	}
	h2, p, li {
		color: #fff !important;
	}
	ul {
		padding: 24px;
		@media only screen and (min-width: 1000px) {
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
			-moz-column-count: 2; /* Firefox */
			column-count: 2;
		}
	}
	li {
		font-family: 'open_sansbold';
		list-style-position: inside;
	}
	p, li {
		font-size: 18px;
	}
}

section.life {
	padding: 90px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0;
	}	
	h2 {
		font-size: 36px;
	}
	p {
		font-size: 18px;
	}
}

section.continued-ed {
	background: #edeeee;
	padding: 120px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 0;	
	}
	h2 {
		font-size: 36px;
		margin-bottom: 16px;
	}
	p {
		font-size: 18px;
		line-height: 1.6;
	}
}