.home-block {
	display: inline-block;
	position: relative;
	background: #fff;
	padding: 165px 60px 50px 60px;
	margin: 20px 0;
	svg {
		position: absolute;
		top: 45px;
		max-width: 164px;
		max-height: 120px;
		left: 50%;
		margin-left: -82px;
	}
	h3, p, svg {
		transition: all .5s;
		-webkit-transition: all .5s; /* Safari and Chrome */
		-ms-transition: all .5s; /* Opera */
	}
	&:hover {
		h3, p {
			opacity: 0;
		}
		svg {
			position: absolute;
			top: 50%;
			margin-top: -60px;
			z-index: 3;
			path:not(.stroke):not(.no-fill), polygon:not(.no-fill), stroke, rect:not(.no-fill) {
				fill: #fff;
			}
			polygon.no-fill, path.no-fill, rect.no-fill {
				fill: none;
			}
			path.stroke {
				stroke: #fff;
			}
		}
	}
	&.policy-services:hover {
		background: $policy-color;
	}
	&.claims-services:hover {
		background: $claims-color;
	}
	&.financial-services:hover {
		background: $financial-color;
	}
	&.accounting-services:hover {
		background: $accounting-color;
	}
}

#home-blocks {
	display: block;
	float: left;
	width: 100%;
	background: #edeeee;
	padding: 100px 0 130px 0;
	.cell {
		padding: 0 20px;
	}
	h2 {
		margin-bottom: 70px;
		font-size: 42px;
		color: #6D6E71;
	}
}

#page > section {
	display: block;
	float: left;
	width: 100%;
}

#approach {
	padding: 120px 0 70px 0;
	background: url(../images/approach-bg.jpg) center center no-repeat;
	background-size: cover !important;
	h2 {
		font-size: 48px;
		color: #fff;
		margin-bottom: 30px;
		display: inline-block;
		max-width: 510px;
	}
	p {
		color: #fff;
		text-align: left;
	}
	.button {
		margin-top: 80px;
		a {
			padding: 10px 60px;
		}
	}
}

#technology {
	padding: 120px 0 160px 0;
	h2, h3 {
		color: #6D6E71;
	}
	h2 {
		font-size: 48px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 24px;
		margin-bottom: 80px;
	}
	.logo-container {
		padding: 0 30px;
		svg {
			max-width: 100%;
		}
	}
}

#convo {
	padding: 110px 0 90px 0;
	background-color: #009CDE;
	position: relative;
	.bg-overlay {
		display: block;
		position: absolute;
		width: 50%;
		height: 100%;
		left: 0;
		top: 0;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;		
	}
	.convo-quote {
		padding: 0 50px;
	}
	.convo-title {
		padding: 0 35px;
		position: relative;
		z-index: 2;
	}
	h2, p {
		color: #fff;
	}
	h2 {
		font-size: 36px;
		margin-bottom: 90px;
	}
	p:not(.convo-name) {
		margin-bottom: 24px;
		line-height: 1.6;
		font-size: 18px;
	}
	p.convo-name {
		font-size: 14px;
		span {
			letter-spacing: 3px;
			text-transform: uppercase;
			font-size: 16px;
		}
	}
}