.nl-block {
	position: relative;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 288px;
	&.tall {
		height: 587px;
	}
	.nl-block-inner {
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		float: left;
		width: 100%;
		height: 100%;
		a {
			display: block;
			float: left;
			width: 100%;
			height: 100%;
		}	
	}
	.nl-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		overflow: hidden;
		padding: 10px;
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 18px;
		pointer-events: none;
	}
	&.no-photo .nl-overlay {
		font-size: 24px;
		height: 100%;
	}
	&:hover .nl-overlay {
		height: 0;
		padding: 0;
	}
	&:nth-child(4n+1) {
		.nl-overlay, .nl-hover {
			background: rgba(0,156,222,0.80);
		}
	}	
	&:nth-child(4n+2) {
		.nl-overlay, .nl-hover {
			background: rgba(221,99,75,0.80);
		}
	}
	&:nth-child(4n+3) {
		.nl-overlay, .nl-hover {
			background: rgba(163,207,98,0.80);
		}
	}
	&:nth-child(4n+4) {
		.nl-overlay, .nl-hover {
			background: rgba(0,75,135,0.80);
		}
	}
	.nl-hover {
		display: block;
		left: 0;
		bottom: 0;
		overflow: hidden;
		position: absolute;
		opacity: 0;
		height: 0;
		width: 100%;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		pointer-events: none;
	}
	&:hover {
		.nl-hover {
			height: 100%;
			opacity: 1;
		}
	}
	.nl-zoom svg {
		width: 48px;
		height: 48px;
		pointer-events: none;
	}
}

.newsletter-container {
	background: #A7A9AB;
	.grid-container.entry-content {
		background: none;
		padding-top: 60px;
		padding-bottom: 160px;
	}
}

.nl-title {
	h2, h3 {
		color: #fff;
		text-transform: uppercase;
	}
	h2 {
		font-size: 48px;
		font-weight: bold;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 20px;
	}
}

.nl-archive-block {
	position: relative;
	display: inline-block;
	width: calc(33% - 10px);
	@media only screen and (max-width: 40.063em) {
		width: calc(50% - 10px);
	}
	margin: 5px 5px 5px 1px;
	.nl-overlay {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		padding: 10px;
		width: 100%;
		height: 100%;
		h3 {
			color: #fff;
			font-size: 18px;
			margin: 0;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	&:nth-child(4n+1) {
		.nl-overlay {
			background: rgba(199,198,157,0.90);
		}
	}	
	&:nth-child(4n+2) {
		.nl-overlay {
			background: rgba(0,156,222,0.80);
		}
	}
	&:nth-child(4n+3) {
		.nl-overlay {
			background: rgba(136,194,227,0.90);
		}
	}
	&:nth-child(4n+4) {
		.nl-overlay {
			background: rgba(0,75,135,0.80);
		}
	}	
}